doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title #{subject}

        include _style

    body
        table.body(role="presentation", border="0", cellpadding="0", cellspacing="0")
            tr
                td &nbsp;
                td.container
                    .content
                        span.preheader This is preheader text. Some clients will show this text as a preview.
                        table.main(role="presentation", border="0", cellpadding="0", cellspacing="0")
                            block content

                        .footer
                            table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                                tr
                                    td.content-block
                                        span.apple-link Company Inc, 7-11 Commercial Ct, Belfast BT1 2NB
                                        br
                                        | Don&apos;t like these emails?
                                        a(href="http://htmlemail.io/blog") Unsubscribe
                                        | .
                                tr
                                    td.content-block.powered-by
                                        | Powered by
                                        a(href="http://htmlemail.io") HTMLemail.io

                td &nbsp;